*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  height: 100vh;
  width: 100%;
  transition: background-color 1s ease-in;
  font-size: 1.2rem;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */

body {
  color: #0B1B48;
  background-color: #9CCEF4;
  margin: 0;
  font-family: 'Raleway','Courier New', Courier, monospace;
  /* height: fit-content; */
}

.weather-now {
  margin: 20px auto 0;
  width: fit-content;
  text-align: center;
}
.bold-span {
  font-weight: bold;
}
.weather-now-text, .temperature{
  margin-bottom: 25px;
}
.weather-now-icon {
  width: 12vw;   
}
.weather-now-text {
  color: white;
}

.hum-pre {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.weather-next {
  width: 100%;
  padding: 0 10vw;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}.weather-next-item{
  width: 14%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}
.weather-next-item img {
  width: 60%;
  margin: 20px 0;
}

@media (max-width:768px) {
  .weather-now-icon {
    width: 20vw;
  }
  .weather-next{
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .weather-next-item {
    width: 50%;
    margin: 20px 0;
  }
  .weather-next-item img {
    margin: 5px 0;
  }
}