.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  font-size: 1.2rem;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */
* {
  margin: 0;
}

body {
  background-color: #9CCEF4;
  margin: 0;
  font-family: 'Raleway','Courier New', Courier, monospace;
}

.weather-now {
  margin: 50px auto 0;
  width: fit-content;
  text-align: center;
}
.bold-span {
  font-weight: bold;
}
.weather-now-text, .temperature{
  margin-bottom: 25px;
}
.weather-now-icon {
  width: 15vw;   
}
.weather-now-text {
  color: white;
}

.hum-pre {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}


